body {
    margin: 0;
    padding: 0;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/2948788-pixel-minecraft-style-land-background-vetor.jpg);
    background-size: cover;
    background-position: center;
    font-family: monospace;
}

.menu-container {
    width: 750px;
    padding: 30px;
    margin: 80px auto;
    background: rgba(0, 0, 0, 0.65);
    border: 3px solid #333;
    text-align: center;
}

.titulo {
    color: white;
    font-size: 34px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

.subtitulo {
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
    text-shadow: 2px 2px #000;
}

.linha-opcoes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.botao {
    padding: 12px 0;
    background: #c6c6c6;
    border: 3px solid #555;
    cursor: pointer;
    font-size: 18px;
}

.botao:hover {
    background: #e0e0e0;
}

.grande {
    width: 290px;
}

.linha-final {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.largo {
    width: 260px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

