* {
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/736x/32/91/94/329194203855d02ce008ad6641815b1d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    font-family: MC Ten Lowercase Alt;
    font-size: 40px;
    text-align: center;
    color: #D9D9D9;
    
}

.quadro{
    background-color: #000;
    margin-top: 90px;
    width: 100%;
    height: 500px;
    border: 1000px;
    opacity: 0.7;
}

.link-sem-sublinhado{
    text-decoration: none;
    color: #000;
}

.botao1{
    margin-top: 20px;
    
}
#bt1{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 500px;
    padding: 0 0 5px 0;
    
}
#bt2{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 500px;
    padding: 0 0 5px 0;
    
}

.botao2{
    margin-top: 20px;

}
#bt3{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    padding: 0 0 5px 0;
}
#bt4{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    padding: 0 0 5px 0;
}
#bt5{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    padding: 0 0 5px 0;
}
#bt6{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    padding: 0 0 5px 0;
}